@font-face {
    font-family: 'alegreya';
    src: url('./fonts/alegreyasanssc-black-webfont.woff2') format('woff2'),
        url('./fonts/alegreyasanssc-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root{
    --yellow: #ffbc2f;
    --red: #d82727;
    --black: #1b1b1b;
    --titlesFont: 'Yanone Kaffeesatz', Arial, sans-serif;
}

html, body{
    height: 100%;
}

body {
    font: 16px/1.42em "Roboto", Arial, sans-serif;
    color: #212121;
    -webkit-font-smoozing: antialiased;
    -moz-box-font-smoozing: grayscale;
    background: #fcf5e6;
}

ul{
    margin: 0;
    padding: 0;
}

ul>li{
    list-style: none;
}

.wrapper{
    overflow: hidden;
    min-width: 1310px;

}
.container{
    margin: 0 auto;
    width: 1300px;
}


.hero{
    height: 100vh;
    min-height: 650 px;
    background: url('./img/bg/hero.jpg') center center/cover no-repeat;
    position: relative;
    margin-bottom: 130px;
}

.header{
    width: 1290px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 27px;
}
.mail{
    text-decoration: none;
    text-align: center;
    color: inherit;
}
.mail__title{
    margin-bottom: 3px;
}
.mail__content{
    background: #212121;
    color: #ffbc2f;
    padding: 5px 10px;


}

.hero_content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 1140px;
    height: 72%; 
}

.sidebar {
    width: 75px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: #212121;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition:width .4s;

}

.sidebar__menu{
    position: absolute;
    left: -400px;
    transition:left .4s;
}
    
.sidebar--opened{
    width: 325px;
    padding: 0 3% 0 4%;
}

.sidebar--opened .sidebar__menu{
    left: 0;
    width: 100%;
    text-align: center;
    transition-delay: .2s;

}

.sidebar__hamburger-icon{
    width: 29px;
    height: 29px;
    fill:var(--yellow)
}

.sidebar__hamburger {
    display: block;
    position: absolute;
    top: 27px;
    left: 50%;
    transform: translate(-50%);
}
    

.sidebar--opened .sidebar__header{
    position: absolute;
    top: 29px;
    left: 0;
    right: 0;
    display: flex;
    justify-content:  center;
    transition-delay: .2s;


}

.sidebar--opened .sidebar__hamburger{
    display: none;
}

.sidebar__header{
    position: absolute;
    top: 29px;
    left: -400px;
    transition:left .4s;
} 

.sidebar__close{
    position: absolute;
    right: 23px;
}

.sidebar__close-icon{
    width: 29px;
    height: 29px;
    fill: var(--yellow);
}

.side-menu__item{
    margin-bottom: 20px;
}



.side-menu__link {
    font-size: 20px;
    color: var(--yellow);
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--titlesFont);
}
    

.side-menu__link:hover{
    color: var(--red);
}

.fade-slider{
    height: 100%;
    width: 100%;
}

.fade-slider__item{
    background: center center/contain no-repeat;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity .3s;

}

.fade-slider__item--visble{
    opacity: 1;
}


.fade-slider__item--style-presents .lined-text {
    align-items: center;
    }

    .fade-slider__text {
    position: absolute;
}


.fade-slider__item--style-tshirts{
    background-image: url("./img/content/hero/slider_pic_1.png") ;
    
}

.fade-slider__item--style-games{
    background-image: url("./img/content/hero/slider_pic_2.png");
}

.fade-slider__item--style-presents{
    background-image: url("./img/content/hero/slider_pic_3.png");
}

.fade-slider__item--style-tshirts .fade-slider__text {
    left: 50%;
    top: 50%;
    transform: translateX(-164%) translateY(-52%);
}
    

.fade-slider__item--style-games .fade-slider__text {
    left: 50%;
    bottom: -25px;
    transform: translateX(-50%);
    text-align: center;
}
    
.fade-slider__item--style-presents .fade-slider__text {
    left: 0;
    bottom: 0;
    transform: translateY(-45%);
}

.fade-slider__item--style-presents .lined-text {
    align-items: center;
}

.fade-slider__item--style-games .lined-text {
    align-items: center;
}

.fade-slider__text {
    position: absolute;
}
    

.lined-text{
    font-family: "alegreya", Arial, sans-serif;
    color: #fff;
    font-size: 63px;
    text-transform: uppercase;
    line-height: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 

}

.lined-text__worl{
    background: #000;
    padding: 0 17px 8px;
    margin-top: -1;
    white-space: nowrap;

}

.lined-text__worl--color-yellow {
    color: var(--yellow);
}

.lined-text__worl:nth-child(2n){
    margin-left: 8px;
}
.filter{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;

}

.filter_item{
    margin-right: 40px;

}

.filter_item:last-child{
    margin-right: 0;

}

.filter_link{
    font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
    text-transform: uppercase;
    padding: 6px 21px;
    color: var(--black);
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.filter_link:hover{
    color: var(--red);
}

.filter__item--active .filter_link{
    color: #ffc92f;
    background: #212121;

}


.products_item:hover .products__desc{
    transform: translateY(0%);

}

.products_item{
    width: 302px;
    height: 386px;
    background: var(--yellow);
    margin-bottom: 35px;
    margin-left: 27px;
    position: relative;
}

.products__price{
    
    position: absolute;
    top: 18px;
    left: -9px;
    width: 126px;
    border-bottom: 45px solid #232323;
    border-left: 5px solid transparent;
    border-right: 2px solid transparent;
    transform: rotate(-181deg);


}

.products__price--amount{
    font-size: 30px;
    font-weight: bold;
    font-family: var(--titlesFont);
    color: #fff;
    transform: rotate(181deg);
    position: absolute;
    top:10px;
    right: 30px;
}

.products_content{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.products__desc{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 23px 30px;
    background: rgba(35, 35, 35, 0.8);
    font-size: 15px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(100%);
    transition: transform .3s;
}

.products_img{
    display: block;
    max-width: 90%;
    max-height: 100%;
}

.btn {
    text-transform: uppercase;
    font-family: var(--titlesFont);
    font-size: 24px;
    padding: 10px 30px;
    background: var(--black);
    color: var(--yellow);
    display: inline-block;
    text-decoration: none;
  }

.class-producns_desc--text{
    margin-bottom: 18px;
    text-align: center;
}

.btn:hover{
    background: var(--red);
    color: #fff;
}

.products_list{
    display: flex;
    flex-wrap: wrap;
    margin-left: -27px;
}


.products_item--color-black{
    background: #232323;
}

.products_item--color-black .products__price{
    border-bottom-color: var(--yellow);
}

.products_item--color-black .products__price--amount{
    color: var(--black);
}

.products_item--size-double{
    width: 630px;
    height: 540px;
}

.collection_list{
    display: flex;
}

.collection__item{
    min-height: 474px;
    flex: 1;
    overflow: hidden;
    margin-right: 30px;
    background: url(./img/bg/pattern.png) center center/ 500px;
    position: relative;

}

.collection__item:last-child{
    margin-right: 0;
}

.collection_link{
    display: block;
    padding: 74px 13% 74px 44%;
    text-decoration: none;
    color: inherit;
    font-size: 15px;
    position: relative;
    height: 100%;
    box-sizing: border-box;

}

.collection__item:before{
    content: "";
    display: block;
    position: absolute;
    height: 176%;
    width: 60%;
    top:-17%;
    left: -18%;
    background: center center/ contain no-repeat;
}

.collection__item--type--guys:before{
    background-image: url(./img/collections/collection_man.png);

}

.collection__item--type--girls:before{
    background-image: url(./img/collections/collection_woman.png);
    top: -31%;
    width: 80%;
    left: -25%;

}
.collection_title{
    font-family: var(--titlesFont);
    font-size: 70px;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 11px;
}

.collection_desc{
    margin-bottom: 28px;
}

.products{
    margin-bottom: 160px;
}

.collections{
    margin-bottom: 130px;
}

.collection_link:hover .btn{
    background-color: var(--red) ;
    color: #fff;
}

.footer{
    margin-bottom: 115px;
}

.footer__container{
    width: 1105px;
}

.site-menu__section{
    display: flex;
    justify-content: space-between;
}

.site-menu__col{
    margin-right: 20px;
}

.site-menu__col:last-child{
    margin-right: 0;
}

.site-menu__title{
    font-family: var(--titlesFont);
    font-size: 24px;
    font-weight: bold;
    color: var(--black);
    text-transform: uppercase;
    margin-bottom: 34px;
}

.site-menu__item{
    margin-top: 22px;
}

.site-menu__link{
    color: #737373;
    font-size: 15px;
    text-decoration: none;
}

.site-menu__link:hover{
    color: var(--red);
}

.site-menu__text{
    font-size: 15px;
    color: var(--black);
    margin-bottom: 37px;
}

.site-menu__text-row{
    font-size: 15px;
    color: inherit;
    text-decoration: none;
    display: block;
    margin-bottom: 14px;

}

.extras{
    display: flex;
    margin-bottom: 95px;
    margin-top: 115px;
}

.extras__col{
    margin-right: 30px;
    flex: 1;
}

.extras__col:last-child{
    margin-right: 0;
}

.extras_best{
    text-align: center;
    color: #fff;
    background: #232323;
    font-family: var(--titlesFont);
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 39px 10%;
    display: block;
    text-decoration: none;
    line-height: 1;

}

.extras__col-socials{
    height: 100%;
    background: url(./img/bg/pattern.png) center center/ 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials{
    display: flex;
}

.socials__item{
    margin-right: 50px;
}

.socials__item:last-child{
    margin-right: 0;
}

.socials__link{
    width:  38px;
    height: 38px;
    display: block;
}

.socials__link:hover .socials__icon{
    fill: var(--red);

}


.socials__icon{
    height: 100%;
    width: 100%;
}


    

